section.about
  .content-wrap
    h2 About
    p Since arriving in Australia in 1995 from South Africa, Glenda Graff has established herself as one of Sydney's leading wedding and party planners. A qualified chef, Glenda offers her services as a caterer, food and décor stylist and event manager. Glenda's wealth of experience ensures that your function, from concept through to planning and execution is seamless.
    p Whether you are planning a wedding, party or corporate function, Glenda and her team of professionals will ensure that your function is unique, distinct and exceptional.