section.contact#contact
  .content-wrap
    h2 Contact
    .row
      .icon
        i.fa.fa-instagram
      .details  
        a(href='https://instagram.com/glendagraffevents') Instagram

    .row
      .icon
        i.fa.fa-facebook
      .details  
        a(href='https://www.facebook.com/pages/Glenda-Graff-Food-D%C3%A9cor-Concepts/951366801563312?fref=ts') Facebook

    .row
      .icon
        i.fa.fa-envelope
      .details  
        a(href='mailto:info@glendagraff.com.au') info@glendagraff.com.au

    .row
      .icon
        i.fa.fa-phone
      .details  
        a(href='callto:+61410572601') 0410 572 601

    .row
      .icon
        i.fa.fa-home
      .details  
        a(href='https://goo.gl/maps/JMZGd', target='_blank') P.O. Box 464,
          br
          | Rose Bay NSW 2029