script(src='//code.jquery.com/jquery-1.11.0.min.js')
script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
script(src='http://snapwidget.com/js/snapwidget.js')
script(type="text/javascript", src="/js/device.min.js")
script(type="text/javascript", src="/js/jquery.stellar.min.js")
script
  | $(window).stellar();