section.testimonials
  .content-wrap
    h2 Testimonials
    
    .testimonial
      p If you are looking to work with a true professional and to have a unique function, then you have found the right person in Glenda Graff.
    
    .testimonial
      p I have retained the services of Glenda Graff as the event coordinator for numerous family functions including my daughter's wedding in the Hunter Valley. On every occasion she has managed to put together an amazing event with professionalism and attention to detail with a definite "wow factor". All the functions have gone off without a hitch and we were able to relax and enjoy ourselves and leave everything up to Glenda and her amazing team.
    
    .testimonial
      p We have had the pleasure of working with Glenda Graff for many years. Glenda has always been extremely well organised, creative and innovative in her ideas. Her functions have always displayed exceptional style and class. We have used Glenda's services for both small and large functions and she always carries out her work as an absolute professional. Once Glenda takes responsibility for your function, you can be assured that it will allow you to enjoy your event enabling you to focus on your guests. We would have no hesitation using Glenda again or recommending her to any prospective clients.
    
    .testimonial
      p Thank you does not seem enough, for all you have done in the past year leading up to Melissa and Jonathan's wedding - as well as making the MOST beautiful wedding imaginable!
      p Your tireless devotion, energy and attention to detail is indescribable. Even with the children living overseas during planning stages, you worked our time by day and France time by night! Nothing was ever too much trouble for you. From beginning to end, you have stood by our sides - assembling invitations, choosing make-up artists, wrapping personalised gifts, double checking guest lists, making sure each person left home on time, to waving the bride and groom goodbye at the end of the night! Melissa was certainly sad when the night was over, as were we. But, our memories will live forever, thanks to you!
      p We have had numerous calls and letters telling us how magnificent the wedding was, but actually, they should all have been addressed to you - without you, we could not have had the wedding we had!