// ===============
// Footer
// ===============

.site-footer {
  padding: $spacer-section 0;

  .social-media-list,
  .contact-list,
  .address-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 $spacer-mlg $spacer-mlg;
      font-size: 1.5em;
      font-family: $fontstack-serif;
      text-align: center;

      @include media-query($screen-md) {
        margin: 0 $spacer-mlg $spacer-lg;
        font-size: 2em;
      }
    }
  }
}

.footer-copyright {
  padding: $spacer-smd $spacer-md;
  text-align: center;
  border-top: 1px solid rgba($color-black, 0.1);
}
