// ===============
// Footer
// ===============

.site-footer {
  padding: $spacer-xl 0;

  .social-media-list,
  .contact-list,
  .address-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 $spacer-mlg;
    }

    @include media-query($screen-md) {
      align-items: center;
      justify-content: center;
      flex-direction: row;

      li {
        margin: 0 $spacer-mlg $spacer-lg;
        text-align: center;
      }
    }
  }

  @include media-query($screen-md) {
    padding: 3 * $spacer-xl 0;
  }
}

.footer-copyright {
  padding: $spacer-smd $spacer-md;
  text-align: center;
  background: rgba($color-primary-dark, 0.1);

  p {
    font-size: 0.8em;
    margin: 0;
  }
}
