// ===============
// Header
// ===============

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $spacer-md 0;
  z-index: 100;

  > .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-title {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    padding: 2px 4px 1px;
    transition: background-color 400ms;

    &:hover {
      background-color: rgba($color-primary, 0.5);
    }
  }

  .site-nav {
    label[for="nav-trigger"],
    .nav-trigger {
      @include media-query($screen-md) {
        display: none;
      }
    }

    .trigger {
      display: none;

      @include media-query($screen-md) {
        display: flex;
      }
    }

    .page-link {
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 0 $spacer-md;
      border-radius: 2px;
      padding: 2px 4px 1px;
      transition: background-color 400ms;

      &:hover,
      &.active {
        background-color: rgba($color-primary, 0.5);
      }
    }
  }

  @include media-query($screen-md) {
    padding: $spacer-xl 0;
  }
}
