<footer class="site-footer" id="contact">
  <div class="wrapper">
    {%- include social.html -%}

    <ul class="contact-list">
      {%- if site.email -%}
        <li><a class="link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      {%- endif -%}

      {%- if site.phone -%}
        <li><a class="link" href="tel:{{ site.phone }}">{{ site.phone_pretty }}</a></li>
      {%- endif -%}
    </ul>

    <ul class="address-list">
      {%- if site.address -%}
        <li>{{ site.address }}</li>
      {%- endif -%}
    </ul>
  </div>
</footer>

<div class="footer-copyright">
  <p>&copy; {{ site.time | date: '%Y' }} {{ site.owner }} — Website by <a href="http://amelia-lewis.com/" class="link" target="_blank">Amelia Lewis</a></p>
</div>
