// ===============
// Gallery
// ===============

.gallery-content p {
  column-count: 2;
  column-gap: $spacer-sm;

  img {
    display: block;
    margin: 0 0 $spacer-sm;
    width: 100%;
    cursor: pointer;
  }

  @include media-query($screen-sm) {
    column-count: 3;
  }
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  perspective: 1000;
  z-index: 100;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $color-black;
  opacity: 0.8;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: 110vw;
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}

[class^="arrow"] {
  height: $spacer-lg;
  width: $spacer-lg;
  background: rgba($color-black, 0.6);
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

[class^="arrow"]:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: $spacer-smd;
  height: $spacer-smd;
}

.arrowr {
  right: $spacer-md;
}

.arrowr:after {
  border-right: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
  margin: 0 0 0 -3px;
}

.arrowl {
  left: $spacer-md;
}

.arrowl:after {
  border-left: 1px solid $color-white;
  border-top: 1px solid $color-white;
  margin: 0 0 0 3px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: $spacer-lg;
  height: $spacer-lg;
  background: rgba($color-black, 0.6);
  margin: $spacer-md;
  border-radius: 50%;
  cursor: pointer;
}

.close:after,
.close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: $spacer-md;
  background: $color-white;
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.title {
  font-size: 20px;
  color: #000;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
}

@include media-query($screen-md) {
  .close {
    width: $spacer-xl;
    height: $spacer-xl;
    margin: $spacer-lg;
  }

  [class^="arrow"] {
    height: $spacer-xl;
    width: $spacer-xl;
  }

  .arrowr {
    right: $spacer-lg;
  }

  .arrowl {
    left: $spacer-lg;
  }

  .lightbox img {
    max-width: calc(95vw - 100px);
  }
}
