// ===============
// Home
// ===============

.home-about,
.home-galleries,
.home-testimonials {
  padding: $spacer-xl 0;

  @include media-query($screen-md) {
    padding: 3 * $spacer-xl 0;
  }
}

.home-masthead {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: $spacer-xl 0 0;

  .masthead-img {
    display: none;
  }

  .masthead-title {
    display: inline-block;
    font-size: 3em;
    line-height: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: right;
  }

  .masthead-subtitle {
    font-size: 1.5em;
    font-family: $fontstack-serif;
    font-weight: normal;
    margin: 0 0 $spacer-lg auto;
  }

  .flower {
    width: 100px;
  }

  @include media-query($screen-md) {
    padding: 4 * $spacer-xl 0 0;

    .masthead-img {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 50%;
      height: calc(100vh - #{$header-height-bp2} - #{$spacer-lg});
      background: url('/assets/img/masthead.jpg') no-repeat center;
      background-size: cover;
      z-index: -1;
    }

    .masthead-title {
      font-size: 9em;
    }

    .masthead-subtitle {
      font-size: 3em;
      margin: 0 2.25 * $spacer-xl $spacer-xl auto;
    }

    .flower {
      align-self: center;
      width: 200px;
    }
  }
}

.home-about {
  @include media-query($screen-md) {
    text-align: center;
  }
}

.gallery-link {
  display: block;
  text-align: center;
  margin: 0 0 $spacer-lg;

  img {
    display: block;
    width: 100%;
  }

  span {
    display: inline-block;
    font-size: 1.2em;
    font-family: $fontstack-serif;
    margin: $spacer-mlg auto 0;

    @include media-query($screen-md) {
      font-size: 2em;
    }
  }
}

.testimonial-list {
  .testimonial-item {
    display: inline-block;
    position: relative;
    margin: 0 0 $spacer-lg;
    padding: 0 $spacer-lg 0 0;

    &:after {
      content: '“';
      position: absolute;
      top: -1 * ($spacer-xl + $spacer-md);
      left: -1 * $spacer-lg;
      font-family: $fontstack-serif;
      font-size: 8em;
      color: rgba($color-primary, 0.5);
      z-index: -1;
    }

    .testimonial-customer {
      font-size: 0.8em;
      color: rgba($color-black, 0.4);
    }
  }

  @include media-query($screen-sm) {
    -webkit-columns: 2 400px;
    -moz-columns: 2 400px;
    columns: 2 400px;
    column-gap: $spacer-md;
  }

  @include media-query($screen-md) {
    -webkit-columns: 3 400px;
    -moz-columns: 3 400px;
    columns: 3 400px;
  }
}
