footer
  background: $beige
  color: white
  padding: 5px 0
  font-size: 0.7em
  text-transform: uppercase
  
  p
    text-align: center
    letter-spacing: 0.1em
    color: rgba(white, 0.6)

    a
      +transition(all 200ms)

      &:hover
        color: white

// footer
//   position: absolute
//   bottom: 0
//   left: 0
//   color: rgba(white, 0.6)
//   font-size: 0.75em
//   padding-left: 10px