section
  padding: 80px 0

  @media screen and (max-width: 480px)
    padding: 50px 0

  &.image
    height: 300px
    padding: 0
    z-index: 10
    background:
      color: $dk-grey
      position-x: center !important
      size: 100%
      repeat: no-repeat

    &.image-1
      background-image: url('img/2.jpg')

    &.image-2
      background-image: url('img/4.jpg')

    &.image-3
      background-image: url('img/3.jpg')

    @media screen and (max-width: 480px)
      height: 180px !important

html.desktop
  .image.desktop-only
    display: block

  .image.mobile-only
    display: none

html.mobile
  .image.mobile-only
    display: block

  .image.desktop-only
    display: none