extends layout

block content
  section.gallery-header.food-decor(data-stellar-background-ratio='0.5')
    h1 Food &amp; D&eacute;cor

  section.gallery-content
    .content-wrap
      .collage
        img(src='img/foodconcepts_001.jpg')
        img(src='img/foodconcepts_008.JPG')
        img(src='img/foodconcepts_015.JPG')
        img(src='img/foodconcepts_022.JPG')
        img(src='img/foodconcepts_002.jpg')
        img(src='img/foodconcepts_009.JPG')
        img(src='img/foodconcepts_016.JPG')
        img(src='img/foodconcepts_023.JPG')
        img(src='img/foodconcepts_003.jpg')
        img(src='img/foodconcepts_010.JPG')
        img(src='img/foodconcepts_017.JPG')
        img(src='img/foodconcepts_024.JPG')
        img(src='img/foodconcepts_004.jpg')
        img(src='img/foodconcepts_011.JPG')
        img(src='img/foodconcepts_018.JPG')
        img(src='img/foodconcepts_025.JPG')
        img(src='img/foodconcepts_005.JPG')
        img(src='img/foodconcepts_012.JPG')
        img(src='img/foodconcepts_019.JPG')
        img(src='img/foodconcepts_006.JPG')
        img(src='img/foodconcepts_013.JPG')
        img(src='img/foodconcepts_020.JPG')
        img(src='img/foodconcepts_007.jpg')
        img(src='img/foodconcepts_014.JPG')
        img(src='img/foodconcepts_021.JPG')