extends layout

block content
  section.gallery-header.food-decor(data-stellar-background-ratio='0.5')
    h1 Food &amp; D&eacute;cor

  section.gallery-content
    .collage
      a(href='img/foodconcepts_001.jpg', data-lightbox='food-decor')
        img(src='img/foodconcepts_001.jpg')
      a(href='img/foodconcepts_008.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_008.JPG')
      a(href='img/foodconcepts_015.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_015.JPG')
      a(href='img/foodconcepts_022.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_022.JPG')
      a(href='img/foodconcepts_002.jpg', data-lightbox='food-decor')
        img(src='img/foodconcepts_002.jpg')
      a(href='img/foodconcepts_009.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_009.JPG')
      a(href='img/foodconcepts_016.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_016.JPG')
      a(href='img/foodconcepts_023.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_023.JPG')
      a(href='img/foodconcepts_003.jpg', data-lightbox='food-decor')
        img(src='img/foodconcepts_003.jpg')
      a(href='img/foodconcepts_010.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_010.JPG')
      a(href='img/foodconcepts_017.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_017.JPG')
      a(href='img/foodconcepts_024.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_024.JPG')
      a(href='img/foodconcepts_004.jpg', data-lightbox='food-decor')
        img(src='img/foodconcepts_004.jpg')
      a(href='img/foodconcepts_011.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_011.JPG')
      a(href='img/foodconcepts_018.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_018.JPG')
      a(href='img/foodconcepts_025.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_025.JPG')
      a(href='img/foodconcepts_005.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_005.JPG')
      a(href='img/foodconcepts_012.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_012.JPG')
      a(href='img/foodconcepts_019.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_019.JPG')
      a(href='img/foodconcepts_006.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_006.JPG')
      a(href='img/foodconcepts_013.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_013.JPG')
      a(href='img/foodconcepts_020.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_020.JPG')
      a(href='img/foodconcepts_007.jpg', data-lightbox='food-decor')
        img(src='img/foodconcepts_007.jpg')
      a(href='img/foodconcepts_014.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_014.JPG')
      a(href='img/foodconcepts_021.JPG', data-lightbox='food-decor')
        img(src='img/foodconcepts_021.JPG')