extends layout

block content
  section.gallery-header.home(data-stellar-background-ratio='0.5')
    h1 Home

  section.gallery-content
    .collage
      img(src='img/home_001.JPG')
      img(src='img/home_006.JPG')
      img(src='img/home_011.JPG')
      img(src='img/home_016.jpg')
      img(src='img/home_021.jpg')
      img(src='img/home_026.jpg')
      img(src='img/home_002.JPG')
      img(src='img/home_007.JPG')
      img(src='img/home_012.JPG')
      img(src='img/home_017.jpg')
      img(src='img/home_022.jpg')
      img(src='img/home_027.jpg')
      img(src='img/home_003.JPG')
      img(src='img/home_008.JPG')
      img(src='img/home_013.JPG')
      img(src='img/home_018.jpg')
      img(src='img/home_023.jpg')
      img(src='img/home_028.jpg')
      img(src='img/home_004.JPG')
      img(src='img/home_009.JPG')
      img(src='img/home_014.jpg')
      img(src='img/home_019.jpg')
      img(src='img/home_024.jpg')
      img(src='img/home_005.JPG')
      img(src='img/home_010.JPG')
      img(src='img/home_015.jpg')
      img(src='img/home_020.jpg')
      img(src='img/home_025.jpg')