extends layout

block content
  section.masthead.parallax-window(data-parallax="scroll", data-image-src="/styles/img/1.jpg")
    .logo

  include partials/about

  section.image.parallax-window(data-parallax="scroll", data-image-src="/styles/img/2.jpg")

  include partials/galleries

  section.image.parallax-window(data-parallax="scroll", data-image-src="/styles/img/4.jpg")

  include partials/testimonials

  section.image.parallax-window(data-parallax="scroll", data-image-src="/styles/img/3.jpg")

  include partials/contact
