extends layout

block content
  section.masthead.desktop-only(data-stellar-background-ratio='0.5')
    .logo
  section.masthead.mobile-only
    .logo

  include partials/about

  section.image.image-1.desktop-only(data-stellar-background-ratio='0.5')
  section.image.image-1.mobile-only

  include partials/galleries

  section.image.image-2.desktop-only(data-stellar-background-ratio='0.5')
  section.image.image-2.mobile-only

  include partials/contact

  //- section.index
  //-   .content
  //-     h1 Glenda Graff
  //-     p Since arriving in Australia in 1995 from South Africa, Glenda Graff has established herself as one of Sydney's leading wedding and party planners. A qualified chef, Glenda offers her services as a caterer, food and décor stylist and event manager. Glenda's wealth of experience ensures that your function, from concept through to planning and execution is seamless.
  //-     p Whether you are planning a wedding, party or corporate function, Glenda and her team of professionals will ensure that your function is unique, distinct and exceptional.

  //-     .button-container
  //-       a.button Food &amp; D&eacute;cor
  //-       a.button Home
  //-       a.button Weddings