extends layout

block content
  section.gallery-header.weddings(data-stellar-background-ratio='0.5')
    h1 Weddings

  section.gallery-content
    .collage
      a(href='img/0240_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0240_BUP250911.jpg')
      a(href='img/0653_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0653_JMB220112.jpg')
      a(href='img/1094_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1094_JMB220112.jpg')
      a(href='img/IMG_0671.JPG', data-lightbox='weddings')
        img(src='img/IMG_0671.JPG')
      a(href='img/0241_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0241_BUP250911.jpg')
      a(href='img/0654_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0654_JMB220112.jpg')
      a(href='img/1095_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1095_JMB220112.jpg')
      a(href='img/IMG_0682.JPG', data-lightbox='weddings')
        img(src='img/IMG_0682.JPG')
      a(href='img/0242_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0242_BUP250911.jpg')
      a(href='img/0655_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0655_JMB220112.jpg')
      a(href='img/1096_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1096_JMB220112.jpg')
      a(href='img/IMG_1058.JPG', data-lightbox='weddings')
        img(src='img/IMG_1058.JPG')
      a(href='img/0243_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0243_BUP250911.jpg')
      a(href='img/0656_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0656_JMB220112.jpg')
      a(href='img/1097_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1097_JMB220112.jpg')
      a(href='img/IMG_1060.JPG', data-lightbox='weddings')
        img(src='img/IMG_1060.JPG')
      a(href='img/0244_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0244_BUP250911.jpg')
      a(href='img/0657_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0657_JMB220112.jpg')
      a(href='img/1098_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1098_JMB220112.jpg')
      a(href='img/IMG_1621.JPG', data-lightbox='weddings')
        img(src='img/IMG_1621.JPG')
      a(href='img/0245_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0245_BUP250911.jpg')
      a(href='img/0658_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0658_JMB220112.jpg')
      a(href='img/1099_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1099_JMB220112.jpg')
      a(href='img/IMG_9831.JPG', data-lightbox='weddings')
        img(src='img/IMG_9831.JPG')
      a(href='img/0247_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0247_BUP250911.jpg')
      a(href='img/0659_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0659_JMB220112.jpg')
      a(href='img/1100_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1100_JMB220112.jpg')
      a(href='img/IMG_9836.JPG', data-lightbox='weddings')
        img(src='img/IMG_9836.JPG')
      a(href='img/0248_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0248_BUP250911.jpg')
      a(href='img/0660_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0660_JMB220112.jpg')
      a(href='img/1101_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1101_JMB220112.jpg')
      a(href='img/IMG_9837.JPG', data-lightbox='weddings')
        img(src='img/IMG_9837.JPG')
      a(href='img/0249_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0249_BUP250911.jpg')
      a(href='img/0661_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0661_JMB220112.jpg')
      a(href='img/1102_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1102_JMB220112.jpg')
      a(href='img/IMG_9838.JPG', data-lightbox='weddings')
        img(src='img/IMG_9838.JPG')
      a(href='img/0250_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0250_BUP250911.jpg')
      a(href='img/0662_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0662_JMB220112.jpg')
      a(href='img/1103_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1103_JMB220112.jpg')
      a(href='img/IMG_9840.JPG', data-lightbox='weddings')
        img(src='img/IMG_9840.JPG')
      a(href='img/0251_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0251_BUP250911.jpg')
      a(href='img/0663_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0663_JMB220112.jpg')
      a(href='img/1104_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1104_JMB220112.jpg')
      a(href='img/IMG_9841.JPG', data-lightbox='weddings')
        img(src='img/IMG_9841.JPG')
      a(href='img/0252_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0252_BUP250911.jpg')
      a(href='img/0664_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0664_JMB220112.jpg')
      a(href='img/1105_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1105_JMB220112.jpg')
      a(href='img/IMG_9843.JPG', data-lightbox='weddings')
        img(src='img/IMG_9843.JPG')
      a(href='img/0253_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0253_BUP250911.jpg')
      a(href='img/0665_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0665_JMB220112.jpg')
      a(href='img/1106_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1106_JMB220112.jpg')
      a(href='img/IMG_9844.JPG', data-lightbox='weddings')
        img(src='img/IMG_9844.JPG')
      a(href='img/0254_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0254_BUP250911.jpg')
      a(href='img/0666_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0666_JMB220112.jpg')
      a(href='img/1107_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1107_JMB220112.jpg')
      a(href='img/IMG_9847.JPG', data-lightbox='weddings')
        img(src='img/IMG_9847.JPG')
      a(href='img/0255_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0255_BUP250911.jpg')
      a(href='img/0667_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0667_JMB220112.jpg')
      a(href='img/1108_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1108_JMB220112.jpg')
      a(href='img/IMG_9848.JPG', data-lightbox='weddings')
        img(src='img/IMG_9848.JPG')
      a(href='img/0256_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0256_BUP250911.jpg')
      a(href='img/0668_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0668_JMB220112.jpg')
      a(href='img/1109_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1109_JMB220112.jpg')
      a(href='img/IMG_9849.JPG', data-lightbox='weddings')
        img(src='img/IMG_9849.JPG')
      a(href='img/0257_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0257_BUP250911.jpg')
      a(href='img/0669_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0669_JMB220112.jpg')
      a(href='img/1110_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1110_JMB220112.jpg')
      a(href='img/IMG_9850.JPG', data-lightbox='weddings')
        img(src='img/IMG_9850.JPG')
      a(href='img/0258_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0258_BUP250911.jpg')
      a(href='img/0670_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0670_JMB220112.jpg')
      a(href='img/1111_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1111_JMB220112.jpg')
      a(href='img/IMG_9851.JPG', data-lightbox='weddings')
        img(src='img/IMG_9851.JPG')
      a(href='img/0259_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0259_BUP250911.jpg')
      a(href='img/0671_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0671_JMB220112.jpg')
      a(href='img/1112_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1112_JMB220112.jpg')
      a(href='img/IMG_9855.JPG', data-lightbox='weddings')
        img(src='img/IMG_9855.JPG')
      a(href='img/0277_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0277_JMB220112.jpg')
      a(href='img/0672_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0672_JMB220112.jpg')
      a(href='img/1113_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1113_JMB220112.jpg')
      a(href='img/IMG_9856.JPG', data-lightbox='weddings')
        img(src='img/IMG_9856.JPG')
      a(href='img/0278_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0278_JMB220112.jpg')
      a(href='img/0673_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0673_JMB220112.jpg')
      a(href='img/1114_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1114_JMB220112.jpg')
      a(href='img/IMG_9859.JPG', data-lightbox='weddings')
        img(src='img/IMG_9859.JPG')
      a(href='img/0279_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0279_JMB220112.jpg')
      a(href='img/0674_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0674_JMB220112.jpg')
      a(href='img/1115_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1115_JMB220112.jpg')
      a(href='img/IMG_9860.JPG', data-lightbox='weddings')
        img(src='img/IMG_9860.JPG')
      a(href='img/0280_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0280_JMB220112.jpg')
      a(href='img/0675_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0675_JMB220112.jpg')
      a(href='img/IMG_0296.JPG', data-lightbox='weddings')
        img(src='img/IMG_0296.JPG')
      a(href='img/IMG_9861.JPG', data-lightbox='weddings')
        img(src='img/IMG_9861.JPG')
      a(href='img/0283_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0283_JMB220112.jpg')
      a(href='img/0676_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0676_JMB220112.jpg')
      a(href='img/IMG_0298.JPG', data-lightbox='weddings')
        img(src='img/IMG_0298.JPG')
      a(href='img/IMG_9862.JPG', data-lightbox='weddings')
        img(src='img/IMG_9862.JPG')
      a(href='img/0284_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0284_JMB220112.jpg')
      a(href='img/0677_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0677_JMB220112.jpg')
      a(href='img/IMG_0304.JPG', data-lightbox='weddings')
        img(src='img/IMG_0304.JPG')
      a(href='img/IMG_9863.JPG', data-lightbox='weddings')
        img(src='img/IMG_9863.JPG')
      a(href='img/0291_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0291_JMB220112.jpg')
      a(href='img/0678_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0678_JMB220112.jpg')
      a(href='img/IMG_0305.JPG', data-lightbox='weddings')
        img(src='img/IMG_0305.JPG')
      a(href='img/IMG_9865.JPG', data-lightbox='weddings')
        img(src='img/IMG_9865.JPG')
      a(href='img/0292_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0292_JMB220112.jpg')
      a(href='img/0679_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0679_JMB220112.jpg')
      a(href='img/IMG_0306.JPG', data-lightbox='weddings')
        img(src='img/IMG_0306.JPG')
      a(href='img/IMG_9866.JPG', data-lightbox='weddings')
        img(src='img/IMG_9866.JPG')
      a(href='img/0293_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0293_JMB220112.jpg')
      a(href='img/0680_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0680_JMB220112.jpg')
      a(href='img/IMG_0307.JPG', data-lightbox='weddings')
        img(src='img/IMG_0307.JPG')
      a(href='img/IMG_9868.JPG', data-lightbox='weddings')
        img(src='img/IMG_9868.JPG')
      a(href='img/0309_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0309_BUP250911.jpg')
      a(href='img/0681_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0681_JMB220112.jpg')
      a(href='img/IMG_0308.JPG', data-lightbox='weddings')
        img(src='img/IMG_0308.JPG')
      a(href='img/IMG_9869.JPG', data-lightbox='weddings')
        img(src='img/IMG_9869.JPG')
      a(href='img/0312_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0312_JMB220112.jpg')
      a(href='img/0682_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0682_JMB220112.jpg')
      a(href='img/IMG_0309.JPG', data-lightbox='weddings')
        img(src='img/IMG_0309.JPG')
      a(href='img/IMG_9871.JPG', data-lightbox='weddings')
        img(src='img/IMG_9871.JPG')
      a(href='img/0323_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0323_BUP250911.jpg')
      a(href='img/0683_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0683_JMB220112.jpg')
      a(href='img/IMG_0311.JPG', data-lightbox='weddings')
        img(src='img/IMG_0311.JPG')
      a(href='img/IMG_9872.JPG', data-lightbox='weddings')
        img(src='img/IMG_9872.JPG')
      a(href='img/0343_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0343_JMB220112.jpg')
      a(href='img/0684_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0684_JMB220112.jpg')
      a(href='img/IMG_0312.JPG', data-lightbox='weddings')
        img(src='img/IMG_0312.JPG')
      a(href='img/IMG_9887.JPG', data-lightbox='weddings')
        img(src='img/IMG_9887.JPG')
      a(href='img/0354_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0354_JMB220112.jpg')
      a(href='img/0685_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0685_JMB220112.jpg')
      a(href='img/IMG_0313.JPG', data-lightbox='weddings')
        img(src='img/IMG_0313.JPG')
      a(href='img/IMG_9888.JPG', data-lightbox='weddings')
        img(src='img/IMG_9888.JPG')
      a(href='img/0449_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0449_BUP250911.jpg')
      a(href='img/0686_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0686_JMB220112.jpg')
      a(href='img/IMG_0314.JPG', data-lightbox='weddings')
        img(src='img/IMG_0314.JPG')
      a(href='img/IMG_9891.JPG', data-lightbox='weddings')
        img(src='img/IMG_9891.JPG')
      a(href='img/0480_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0480_BUP250911.jpg')
      a(href='img/0687_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0687_JMB220112.jpg')
      a(href='img/IMG_0315.JPG', data-lightbox='weddings')
        img(src='img/IMG_0315.JPG')
      a(href='img/IMG_9892.JPG', data-lightbox='weddings')
        img(src='img/IMG_9892.JPG')
      a(href='img/0482_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0482_BUP250911.jpg')
      a(href='img/0688_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0688_JMB220112.jpg')
      a(href='img/IMG_0316.JPG', data-lightbox='weddings')
        img(src='img/IMG_0316.JPG')
      a(href='img/IMG_9893.JPG', data-lightbox='weddings')
        img(src='img/IMG_9893.JPG')
      a(href='img/0484_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0484_BUP250911.jpg')
      a(href='img/0689_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0689_JMB220112.jpg')
      a(href='img/IMG_0491.JPG', data-lightbox='weddings')
        img(src='img/IMG_0491.JPG')
      a(href='img/IMG_9895.JPG', data-lightbox='weddings')
        img(src='img/IMG_9895.JPG')
      a(href='img/0486_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0486_BUP250911.jpg')
      a(href='img/0690_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0690_JMB220112.jpg')
      a(href='img/IMG_0493.JPG', data-lightbox='weddings')
        img(src='img/IMG_0493.JPG')
      a(href='img/IMG_9896.JPG', data-lightbox='weddings')
        img(src='img/IMG_9896.JPG')
      a(href='img/0492_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0492_BUP250911.jpg')
      a(href='img/0691_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0691_JMB220112.jpg')
      a(href='img/IMG_0495.JPG', data-lightbox='weddings')
        img(src='img/IMG_0495.JPG')
      a(href='img/IMG_9898.JPG', data-lightbox='weddings')
        img(src='img/IMG_9898.JPG')
      a(href='img/0494_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0494_BUP250911.jpg')
      a(href='img/0692_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0692_JMB220112.jpg')
      a(href='img/IMG_0496.JPG', data-lightbox='weddings')
        img(src='img/IMG_0496.JPG')
      a(href='img/IMG_9902.JPG', data-lightbox='weddings')
        img(src='img/IMG_9902.JPG')
      a(href='img/0495_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0495_BUP250911.jpg')
      a(href='img/0693_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0693_JMB220112.jpg')
      a(href='img/IMG_0504.JPG', data-lightbox='weddings')
        img(src='img/IMG_0504.JPG')
      a(href='img/IMG_9904.JPG', data-lightbox='weddings')
        img(src='img/IMG_9904.JPG')
      a(href='img/0498_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0498_BUP250911.jpg')
      a(href='img/0694_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0694_JMB220112.jpg')
      a(href='img/IMG_0507.JPG', data-lightbox='weddings')
        img(src='img/IMG_0507.JPG')
      a(href='img/IMG_9909.JPG', data-lightbox='weddings')
        img(src='img/IMG_9909.JPG')
      a(href='img/0499_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0499_BUP250911.jpg')
      a(href='img/0695_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0695_JMB220112.jpg')
      a(href='img/IMG_0509.JPG', data-lightbox='weddings')
        img(src='img/IMG_0509.JPG')
      a(href='img/weddings_001.jpg', data-lightbox='weddings')
        img(src='img/weddings_001.jpg')
      a(href='img/0500_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0500_BUP250911.jpg')
      a(href='img/0696_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0696_JMB220112.jpg')
      a(href='img/IMG_0512.JPG', data-lightbox='weddings')
        img(src='img/IMG_0512.JPG')
      a(href='img/weddings_002.jpg', data-lightbox='weddings')
        img(src='img/weddings_002.jpg')
      a(href='img/0503_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0503_BUP250911.jpg')
      a(href='img/0697_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0697_JMB220112.jpg')
      a(href='img/IMG_0513.JPG', data-lightbox='weddings')
        img(src='img/IMG_0513.JPG')
      a(href='img/weddings_003.jpg', data-lightbox='weddings')
        img(src='img/weddings_003.jpg')
      a(href='img/0505_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0505_BUP250911.jpg')
      a(href='img/0698_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0698_JMB220112.jpg')
      a(href='img/IMG_0516.JPG', data-lightbox='weddings')
        img(src='img/IMG_0516.JPG')
      a(href='img/weddings_004.jpg', data-lightbox='weddings')
        img(src='img/weddings_004.jpg')
      a(href='img/0511_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0511_BUP250911.jpg')
      a(href='img/0699_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0699_JMB220112.jpg')
      a(href='img/IMG_0518.JPG', data-lightbox='weddings')
        img(src='img/IMG_0518.JPG')
      a(href='img/weddings_005.jpg', data-lightbox='weddings')
        img(src='img/weddings_005.jpg')
      a(href='img/0512_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0512_BUP250911.jpg')
      a(href='img/0700_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0700_JMB220112.jpg')
      a(href='img/IMG_0521.JPG', data-lightbox='weddings')
        img(src='img/IMG_0521.JPG')
      a(href='img/weddings_006.jpg', data-lightbox='weddings')
        img(src='img/weddings_006.jpg')
      a(href='img/0514_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0514_BUP250911.jpg')
      a(href='img/0701_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0701_JMB220112.jpg')
      a(href='img/IMG_0522.JPG', data-lightbox='weddings')
        img(src='img/IMG_0522.JPG')
      a(href='img/weddings_007.jpg', data-lightbox='weddings')
        img(src='img/weddings_007.jpg')
      a(href='img/0515_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0515_BUP250911.jpg')
      a(href='img/0702_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0702_JMB220112.jpg')
      a(href='img/IMG_0523.JPG', data-lightbox='weddings')
        img(src='img/IMG_0523.JPG')
      a(href='img/weddings_008.jpg', data-lightbox='weddings')
        img(src='img/weddings_008.jpg')
      a(href='img/0517_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0517_BUP250911.jpg')
      a(href='img/0703_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0703_JMB220112.jpg')
      a(href='img/IMG_0524.JPG', data-lightbox='weddings')
        img(src='img/IMG_0524.JPG')
      a(href='img/weddings_009.jpg', data-lightbox='weddings')
        img(src='img/weddings_009.jpg')
      a(href='img/0519_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0519_BUP250911.jpg')
      a(href='img/0704_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0704_JMB220112.jpg')
      a(href='img/IMG_0526.JPG', data-lightbox='weddings')
        img(src='img/IMG_0526.JPG')
      a(href='img/weddings_010.jpg', data-lightbox='weddings')
        img(src='img/weddings_010.jpg')
      a(href='img/0522_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0522_BUP250911.jpg')
      a(href='img/0705_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0705_JMB220112.jpg')
      a(href='img/IMG_0528.JPG', data-lightbox='weddings')
        img(src='img/IMG_0528.JPG')
      a(href='img/weddings_011.jpg', data-lightbox='weddings')
        img(src='img/weddings_011.jpg')
      a(href='img/0524_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0524_BUP250911.jpg')
      a(href='img/0706_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0706_JMB220112.jpg')
      a(href='img/IMG_0530.JPG', data-lightbox='weddings')
        img(src='img/IMG_0530.JPG')
      a(href='img/weddings_012.jpg', data-lightbox='weddings')
        img(src='img/weddings_012.jpg')
      a(href='img/0528_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0528_BUP250911.jpg')
      a(href='img/0707_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0707_JMB220112.jpg')
      a(href='img/IMG_0531.JPG', data-lightbox='weddings')
        img(src='img/IMG_0531.JPG')
      a(href='img/weddings_013.jpg', data-lightbox='weddings')
        img(src='img/weddings_013.jpg')
      a(href='img/0529_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0529_BUP250911.jpg')
      a(href='img/0708_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0708_JMB220112.jpg')
      a(href='img/IMG_0532.JPG', data-lightbox='weddings')
        img(src='img/IMG_0532.JPG')
      a(href='img/weddings_014.jpg', data-lightbox='weddings')
        img(src='img/weddings_014.jpg')
      a(href='img/0640_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0640_JMB220112.jpg')
      a(href='img/0709_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0709_JMB220112.jpg')
      a(href='img/IMG_0533.JPG', data-lightbox='weddings')
        img(src='img/IMG_0533.JPG')
      a(href='img/weddings_015.jpg', data-lightbox='weddings')
        img(src='img/weddings_015.jpg')
      a(href='img/0648_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0648_JMB220112.jpg')
      a(href='img/0710_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0710_JMB220112.jpg')
      a(href='img/IMG_0665.JPG', data-lightbox='weddings')
        img(src='img/IMG_0665.JPG')
      a(href='img/weddings_016.jpg', data-lightbox='weddings')
        img(src='img/weddings_016.jpg')
      a(href='img/0649_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0649_JMB220112.jpg')
      a(href='img/0818_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0818_JMB220112.jpg')
      a(href='img/IMG_0666.JPG', data-lightbox='weddings')
        img(src='img/IMG_0666.JPG')
      a(href='img/weddings_017.jpg', data-lightbox='weddings')
        img(src='img/weddings_017.jpg')
      a(href='img/0650_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0650_JMB220112.jpg')
      a(href='img/0901_BUP250911.jpg', data-lightbox='weddings')
        img(src='img/0901_BUP250911.jpg')
      a(href='img/IMG_0668.JPG', data-lightbox='weddings')
        img(src='img/IMG_0668.JPG')
      a(href='img/0651_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0651_JMB220112.jpg')
      a(href='img/1092_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1092_JMB220112.jpg')
      a(href='img/IMG_0669.JPG', data-lightbox='weddings')
        img(src='img/IMG_0669.JPG')
      a(href='img/0652_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/0652_JMB220112.jpg')
      a(href='img/1093_JMB220112.jpg', data-lightbox='weddings')
        img(src='img/1093_JMB220112.jpg')
      a(href='img/IMG_0670.JPG', data-lightbox='weddings')
        img(src='img/IMG_0670.JPG')