// ===============
// Base
// ===============

body {
  background: $color-primar-light;
  color: $color-black;
  font-family: $fontstack-sans;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: calc(100% - #{$spacer-lg});
  max-width: 1200px;
  margin: 0 auto;
}

.page-content {
  margin-top: 68px; // header height
  padding: $spacer-xl 0;
}

.svg-icon {
  width: $spacer-md;
  height: $spacer-md;
}
