// ===============
// Base
// ===============

html {
  scroll-behavior: smooth;
}

body {
  background: $color-primary-light;
  color: $color-black;
  font-family: $fontstack-sans;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: calc(100% - #{$spacer-lg});
  max-width: $wrapper-width;
  margin: 0 auto;
}

.page-content {
  margin-top: $header-height-bp1;

  @include media-query($screen-md) {
    margin-top: $header-height-bp2 + $spacer-lg;
  }
}

.svg-icon {
  width: $spacer-md;
  height: $spacer-md;
}
