// ===============
// Typography
// ===============

@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('/assets/fonts/neuzeit.eot');
    src: url('/assets/fonts/neuzeit.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/neuzeit.woff') format('woff'),
         url('/assets/fonts/neuzeit.ttf') format('truetype'),
         url('/assets/fonts/neuzeit.svg#neuzeitgrototregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeuzeitGrotesk';
    src: url('/assets/fonts/neuzeit-bold.eot');
    src: url('/assets/fonts/neuzeit-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/neuzeit-bold.woff') format('woff'),
         url('/assets/fonts/neuzeit-bold.ttf') format('truetype'),
         url('/assets/fonts/neuzeit-bold.svg#neuzeitgrototbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.h2-wrapper {
  display: flex;
  align-items: center;
  // margin: 0 calc(-1 * #{$spacer-mlg}) 1em;
  margin: 0 0 1em;

  @include media-query($screen-lg) {
    // margin: 0 calc(((100vw - #{$wrapper-width}) / 2) * -1 - #{$spacer-mlg}) 5em;
    margin: 0 0 5em;
    justify-content: flex-end;
  }
}

.h2 {
  position: relative;
  font-size: 2em;
  line-height: 1em;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 $spacer-md;

  @include media-query($screen-md) {
    font-size: 4.5em;
    letter-spacing: 0.05em;
    margin: 0 0 $spacer-lg;
  }
}

p {
  line-height: 1.4em;
  margin: 0 0 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  border-bottom: 2px solid rgba($color-primary-dark, 0.5);
  transition: all 400ms;

  &:hover {
    border-color: $color-primary-dark;
  }
}
