---
layout: default
---

<div class="home">
  <section class="home-masthead">
    <div class="masthead-img js-tilt" data-tilt data-aos="fade-right" data-aos-duration="1000"></div>
    <h1 class="h1 masthead-title" data-aos="fade-left" data-aos-duration="1000">{{ site.owner }}</h1>
    <h3 class="h3 masthead-subtitle" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1000">Event Management</h3>
    <img src="/assets/img/flower.svg" class="flower" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000" />
  </section>

  {{ content }}

  <section class="home-about">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="200">
        <p>Since arriving in Australia in 1995 from South Africa, Glenda Graff has established herself as one of Sydney's leading wedding and party planners. A qualified chef, Glenda offers her services as a caterer, food and décor stylist and event manager. Glenda's wealth of experience ensures that your function, from concept through to planning and execution is seamless.</p>
        <p>Whether you are planning a wedding, party or corporate function, Glenda and her team of professionals will ensure that your function is unique, distinct and exceptional.</p>
      </div>
    </div>
  </section>

  <section class="home-galleries">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <a href="/food-decor" class="gallery-link js-tilt" data-tilt data-aos="fade-in" data-aos-duration="1000">
          <img src="/assets/img/food-decor.jpg" alt="Food & Décor" />
          <span class="h2">Food &amp; Décor</span>
        </a>
        <a href="/home-styling" class="gallery-link js-tilt" data-tilt data-aos="fade-in" data-aos-duration="1000">
          <img src="/assets/img/home-styling.jpg" alt="Home Styling" />
          <span class="h2">Home Styling</span>
        </a>
        <a href="/weddings" class="gallery-link js-tilt" data-tilt data-aos="fade-in" data-aos-duration="1000">
          <img src="/assets/img/weddings.jpg" alt="Weddings" />
          <span class="h2">Weddings</span>
        </a>
      </div>
    </div>
  </section>

  {%- if site.posts.size > 0 -%}
    <section class="home-testimonials">
      <h2 class="h2" data-aos="fade-in" data-aos-duration="1000">Testimonials</h2>
      <div class="testimonial-list">
        {%- for post in site.posts -%}
          {% if post.categories contains "testimonial" %}
            <div class="testimonial-item" data-aos="fade-in" data-aos-duration="1000">
              {%- if site.show_excerpts -%}
                <p>{{ post.excerpt }}</p>
              {%- endif -%}
              <p class="testimonial-customer">{{ post.customer }}</p>
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </section>
  {%- endif -%}

</div>
