---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="feed-subscribe"><svg class="svg-icon orange"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
  {%- endif -%}

  <section class="home-galleries">
    <div class="h2-wrapper">
      <h2 class="h2">Galleries</h2>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <a href="/food-decor" class="gallery-link">
          <img src="/assets/img/food-decor.jpg" alt="Food & Décor" class="js-tilt" data-tilt />
          <span class="link">Food &amp; Décor</span>
        </a>
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="/home-styling" class="gallery-link">
          <img src="/assets/img/home-styling.jpg" alt="Home Styling" class="js-tilt" data-tilt />
          <span class="link">Home Styling</span>
        </a>
      </div>
      <div class="col-xs-12 col-md-4">
        <a href="/weddings" class="gallery-link">
          <img src="/assets/img/weddings.jpg" alt="Weddings" class="js-tilt" data-tilt />
          <span class="link">Weddings</span>
        </a>
      </div>
    </div>
  </section>

</div>
